/*HOVER EFFECT*/
.main-container .upgrade-container div:hover{
    transform: scale(1.3);
    margin-right: 20px;
}

.menu-container > .icon-container:hover div,
.name-playlist-container > div:hover,
.bottom-container > div:hover,
.song-container ul li:hover a,
.add-playlist-container:hover
{
    color: white;
}

.menu-container > .icon-container:hover .vertical-line{
    display: block;
}

.vertical-line{
    height: 100%;
    border: 2px solid greenyellow;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

.song-container ul li:hover .orizzontal-line{
    display: block;
}

.orizzontal-line{
    width: 30px;
    border: 1px solid greenyellow;
    display: none; 
}

.song-img{
    position: relative;
}

.play-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
    font-size: 1.5em;
}

.play-hover-background{
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.most-popular-singer .play-hover-background{
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.cards-container .card:hover .play-hover,
.cards-container .card:hover .play-hover-background{
    display: block;
}

.left-footer-container h6:hover{
    color: white;
    text-decoration: underline;
}

.left-footer-container i:hover{
    color: white;
}

.center-footer-container i.fa-circle-play:hover{
    transform: scale(1.5);
}

.bar-player-empty:hover .dot-player {
    display: block;
}

.position-relative{
    position: relative;
}

.center-footer-container .bar-player-empty:hover .bar-player-full{
   animation: timing-song 40s linear;
}

@keyframes timing-song{
    0%{
        background-color: greenyellow;
        width: 30%;
    }
    100%{
        background-color: greenyellow;
        width: 100%;
    }

}



