
@import url(./hover-effect.css);

/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------GENERAL RULE----------------- */
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container{
    display: flex;
}

img{
    width: 100%;
}

/* -----------------------------------NAV BAR----------------------------------------- */
.nav-container{
    background-color: black;
    color: grey;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
}

.playlist-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.name-playlist-container{
    flex-grow: 1;
    overflow: auto;
}

.logo-container,
.menu-container{
    padding-bottom: 20px;
}

.menu-container > *{
    margin-bottom: 8px;
}


.logo-container img{
    width: 150px;
}
.icon-container{
    display: flex;
    align-items: center;
}

.icon-container img{
    width: 20px;
    margin-right: 8px;
    margin-left: 5px;
}

.playlist-container > *{
    margin-bottom: 15px;
}

.name-playlist-container > *{
    margin-bottom: 10px;
}


.nav-container-extended > .playlist-container{
    overflow: auto;
}


.name-playlist-container::-webkit-scrollbar {
    display: none;
}

.playlist-container h4{
    color: white;
    margin-bottom: 15px;
}

.download-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.download-container img{
    width: 20px;
    margin-right: 8px;
}

.profile-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.profile-container img{
    width: 20px;
    background-color: rgba(209, 209, 209, 0.5);
    border-radius: 50%;
    object-fit: cover;
}

.profile-container h5{
    color: white;
    padding-left: 8px;
}

.nav-container-short{
    display: none;
}



a{
    text-decoration: none;
    color: white;
}
/* -----------------------------------------MAIN RULE------------------------------------------ */
.main-container{
    background-color: #141922;
    width: calc(100% - 250px);
    color: white;
    height: calc(100vh - 80px);
    overflow: auto;
}

/*---------------upgrade container---------------*/
.upgrade-container{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: calc(100vw - 250px);
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 20px;
    color: white;
    z-index: 1;
}

.upgrade-container a{
    border: 1px solid white;
    padding: 4px 20px;
    border-radius: 28px;
}


/*---------------song main---------------*/
.song-container{
    margin-top: 80px;
    padding: 20px;
}

.make-for-you-container{
    padding: 20px;
}
/*-----------header container-----------*/
.header-container{
    margin-bottom: 40px;
}
ul{
    text-align: center;
    line-height: 40px;
}

ul li{
    list-style: none;
    display: inline-block;
    padding-right: 12px;
}

ul li a{
    color: gray;
}

/*-----------RECENTLY SONG-----------*/
.card img{
    display: block;
}
.cards-container{
    margin-left: -7px;
    margin-right: -7px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.cards-container > *{
    width: calc((100% / 6) - 14px);
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 20px;
}

.cards-container .title-song{
    font-weight: bolder;
}

.title-song{
    margin-top: 7px;
    text-align: center;
}

.subtitle{
    margin-top: 7px;
    color: grey;
    font-size: 0.8em;
}

/*-----------MAKE FOR YOU-----------*/
.make-for-you-container h5{
    color: gray;
    margin-top: 7px;
}

/*-----------ARTIST POPULAR-----------*/
.circular{
    border-radius: 50%;
    object-fit: cover;
}
/* -----------------------------------------FOOTER RULE----------------------------------------- */
.footer-container{
    background-color: #282828;
    color:white;
    height: 80px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-footer-container{
    width: 20%;
    margin-right: 10px;
}
.right-footer-container{
    width: 20%;
    margin-left: 10px;
}

.center-footer-container{
    width: 40%;
}

.left-footer-container{
    display: flex;
    align-items: center;

}
.left-footer-container > *:not(:last-child){
    margin-right: 5px;
}

.left-footer-container > *:last-child{
    margin-left: 20px;
}

.left-footer-container img{
    width: 50px;
}

.footer-container h6,
.footer-container .left-footer-container i{
    color: gray;
}

.footer-container i{
    margin-right: 10px;
}

.center-footer-container > *{
    margin-top: 5px;
}

.player-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-container > *:not(:last-child){
    margin-right: 10px;
}

.player-container{
    font-size: 0.8em;
}

.button-player-container{
    text-align: center;
}

.bar-player-empty{
    height: 4px;
    width: 90%;
    border-radius: 4px;
    background-color: grey;
}

.bar-player-full{
    height: 4px;
    width: 30%;
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}
.dot-player {
    display: none;
}

.dot-player i{
    margin: 0;
}


.right-footer-container{
    display: flex;
    justify-content: end;
    align-content: center;
}

.right-footer-container .my-col-40{
    width: 50%;
    display: flex;
    justify-content: end;
}

.right-footer-container .my-col-60{
    width: 50%;
    display: flex;
    align-items: center;
}


/* -----------------------------------MEDIA QUERY---------------------------------------- */

/* IN DEKSTOP FIRST */
@media screen and (max-width: 1100px) {
    .cards-container > *{
        width: calc((100% / 4) - 14px);
    }
}
@media screen and (max-width: 836px) {
    .cards-container > *{
        width: calc((100% / 2) - 14px);
    }
}
@media screen and (max-width: 600px) {
    .nav-container-extended{
        display: none;
    }
    .nav-container-short{
        display: block;
        display: flex;
    }

    .nav-container{
        width: 50px;
        padding: 10px;
    }

    .menu-container{
        flex-grow: 1;
    }
    .main-container, .upgrade-container{
        width: calc(100vw - 50px);
    }
    .nav-container-short img{
        width: 30px;
    }

    .nav-container-short .download-container img{
        width: 20px;
        justify-content: center;
    }
    .nav-container-short .download-container{
        justify-content: center;
    }

    .left-footer-container img{
        width: 35px;
    }
}
